#container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#container>div {
    width: 100px;
    height: 35px;
}

.members-name {
    text-align: right;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #888888;
}

.members-list-hour {
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #666666;
}

.members-list-minute {
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #cccccc;
}

.members-list-ampm {
    text-align: left;
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    color: #cccccc;
}